*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    overflow: hidden;
   
}

.title{
    color: rgb(255, 255, 255);;
    z-index: 9;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    inset: 0;
}

.subtitle{
    color: rgb(255, 255, 255);
    margin-top: .5rem;
}

.hide{
    display: none;
}

.bird{
    --bird-top: 400;
    --bird-size: 60px;
    position: absolute;
    width: var(--bird-size);
    height: var(--bird-size);
    left: calc(2*var(--bird-size)) ;
    top: calc(var(--bird-top)* 1px);
}


.pipe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(var(--pipe-width)*1px);
    left: calc(var(--pipe-left)*1px);
  }

.pipe > .segment{
    position: absolute;
    width: 100%;
    background: rgb(123, 220, 106);
}

.pipe > .top{
    border-radius: 10xp;
    top: 0;
    bottom: calc(var(--hole-top)*1px);
}

.pipe > .bottom{
    bottom: 0;
    top: calc(100vh - var(--hole-top)*1px + calc(var(--hole-height) * 1px));
}

.gray{
    position: absolute;
    z-index: 8;
    background: black;
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.modal-character{
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: .5s ease-in-out;
    background-color: white;
    width: 600px;
    max-width: 900px;
    border-radius: 20px;
}

.modal-head{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid #222222;
}

.character-panel{
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.5rem;
}

.character-button img{
   width: 6rem;
   height: 6rem;
   pointer-events: none;
}

.modal-character.active{
    transform: translate(-50%,-50%) scale(1);
}



/* CSS */
.character-button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 25px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 1rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.character-button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.character-button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.character-button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.background-img{
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.background-img img{
    height: 100vh;
    width: 100vw;
}

.counter{
    position: fixed;
    z-index: 6;
    color: black;
    top: 5%;
    left: 83%;
    font-size: 1.8rem;
    background: white;
    padding: .5rem 1.2rem;
    border: 2px solid black;
    border-radius: 12px;
}

  